/** @format */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}
.info-box {
  background-color: #feebcb;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  margin: 10px;
}
.info-box i {
  font-size: 50px;
  color: #f37915;
}
.info-box h3 {
  margin-top: 10px;
  font-size: 24px;
  color: #f29b70;
}
.info-box p {
  font-size: 18px;
  color: #f29b70;
}
.filter-box {
  background-color: #feebcb;
  padding: 20px;
  border-radius: 10px;
  margin: 10px 0;
}
.filter-box select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #f29b70;
}
.store-list {
  background-color: #f29b70;
  padding: 20px;
  border-radius: 10px;
  margin: 10px 0;
  height: 300px;
  overflow-y: auto;
}
.store-item {
  margin-bottom: 20px;
}
.store-item h5 {
  font-size: 18px;
  color: #feebcb;
}
.store-item p {
  font-size: 14px;
  color: #feebcb;
}
.store-item i {
  color: #feebcb;
}
.map-container {
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
}
main {
  margin-top: 50px;
}
